.model-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floating{
  position: absolute;
  z-index: 10;
  width: 100px;
}
.floating_left{
  left: 10%;
  top: 50%;
}
.floating_right{
  right: 10%;
  top: 50%;
}
.floating_back{
  right: 50%;
  top: 10%;
}
.floating_front{
  right: 50%;
  bottom: 10%;
}